.odd{
    background-color: lightgreen;
}
.even{
    background-color: green;
}
.head{
    border: 1px solid red;
}
.snake{
    background-color: blue;
}
.food{
    background: orange;
}
div, canvas{
    border: 1px solid black;
}
#snake{
    
}

/* .specs-or-stats{
    display:inline-block
} */

.display-stat{
    font: 20px Comic Sans MS;
    font-weight: bold;
    color: green;
    width: 200px;
    display:inline-block
}
button{
    width: 200px;
    height: 50px;
    font: 35px Arial, sans-serif;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}